<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Safe</title>
</head>

<body>
    <h1>Something went Wrong !</h1>
    <h1>please try again later</h1>
    <a href="/">go to the main page</a>
</body>

</html>