<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/regular.min.css">
    <link rel="stylesheet" href="/css/home.css">
    <script src="/js/homeScript.js" defer></script>
    <title>Safe</title>
</head>

<body>

    <div class="page">
        <header class="header-wrapper">

            <div class="logo-wrapper">
                <img class="logo" src="/images/logo.png" alt="">
                <h1 class="logo-name">Safe Cloud</h1>
            </div>

            <input class="search-bar" placeholder="Search your files..." type="text">
            <div class="user-container">
                <div class="user-icon">
                    <i class="fa-solid fa-user"></i>
                </div>
                <div class="options hide">
                    <button class="safe-button logout">logout</button>
                </div>
            </div>

        </header>
        <section class="main">

            <div class="side-bar">

                <div class="dropdown-wrapper">
                    <div class="new-folder-dropdown">
                        <button class="new-folder-dropdown-button"> + New Folder</button>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <form method="post" action="/home/folder" class="new-folder-form hide">
                        <input type="text" name="name" id="name" placeholder="NewFolder" required>
                        <input style="width: 0; height: 0;" type="text" name="location" id="location" value="0">
                        <button type="submit" class="post-new-folder-button"> create</button>
                    </form>
                </div>

                <a href="/home" class="side-bar-item">
                    <i class="fa-regular fa-hard-drive"></i>
                    <p>My Drive</p>
                </a>

                <a href="/home/shared" class="side-bar-item">
                    <i class="fa-regular fa-share-from-square"></i>
                    <p>Shared</p>
                </a>

                <button class="safe-button toggle-delete-button"> <i class="fa-regular fa-trash-can"></i> Delete
                    Files</button>


                <form enctype="multipart/form-data" id="file-form">
                    <label class="upload-area" for="file">
                        <div class="upload-wrapper">
                            <i class="fa-solid fa-arrow-up-from-bracket"></i>
                            <p>Choose Files to upload</p>
                            <p class="name"></p>
                            <input class="file" type="file" name="file" id="file">
                            <progress class="progress-bar hide" max="100" value="0"></progress>
                        </div>
                    </label>
                </form>




            </div>

            <div data-currentLocation="<%= currentLocation %>" data-folders="<%=folders %>" data-files="<%= files %>"
                class="main-content">
                <div class="path-info-container">
                    <p class="path">My Drive ></p>
                    <div class="go-back">
                        <i class="fa-solid fa-chevron-left"></i>
                    </div>
                </div>

                <div class="folders-section-container">
                    <p class="section-title">Folders</p>
                    <div class="folders-container">

                        <div data-id='element.id' class="folder-container hide">
                            <i class="fa-solid fa-delete-left delete-button hide"></i>
                            <i class="fa-solid fa-folder"></i>
                            <p class="folder-name">ssdfsd</p>
                        </div>

                    </div>
                </div>


                <div class="files-section-container">
                    <p class="section-title">Files</p>
                    <div class="files-container">

                        <div class="file-container media hide">
                            <i class="fa-solid fa-delete-left delete-button hide"></i>
                            <i class="fa-solid fa-photo-film"></i>
                            <p class="file-name"></p>
                            <p class="file-size"></p>
                            <p class="file-creation-time"></p>
                        </div>

                        <div class="file-container pdf hide">
                            <i class="fa-solid fa-delete-left delete-button hide"></i>
                            <i class="fa-regular fa-file-pdf pdf-file"></i>
                            <p class="file-name"></p>
                            <p class="file-size"></p>
                            <p class="file-creation-time"></p>
                        </div>

                        <div class="file-container general hide">
                            <i class="fa-solid fa-delete-left delete-button hide"></i>
                            <i class="fa-regular fa-file-lines general-file"></i>
                            <p class="file-name"></p>
                            <p class="file-size"></p>
                            <p class="file-creation-time"></p>
                        </div>

                    </div>
                </div>

            </div>

            <div class="right-side-bar">
                <div class="image-preview-container"></div>
                <button class="download-media safe-button">Download</button>
                <button class="share-button safe-button">Share File</button>
                <form class="share-file-form hide" action="/home/share">
                    <p>or share</p>
                    <p>Choose the duration , after this duration the link will expire</p>
                    <input min="0" value="1" id="duration" name="duration" type="number">
                    <label for="duration">Hours</label>
                    <button class="safe-button"> Generate Link</button>
                </form>
            </div>
    </div>
    </section>
    </div>
    <div class="notification">
        link is copied to your clipboard
    </div>
</body>

</html>