<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/home.css">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/regular.min.css">
    <script src="/homeScript.js" defer></script>
    <title>Safe</title>
</head>

<body>

    <div class="page">
        <header class="header-wrapper">

            <div class="logo-wrapper">
                <img class="logo" src="/logo.png" alt="">
                <h1 class="logo-name">Safe Home Page</h1>
            </div>

            <input class="search-bar" placeholder="Search your files..." type="text">
            <div class="user-icon">
                <i class="fa-solid fa-user"></i>
            </div>

        </header>
        <section class="main">

            <div class="side-bar">
                <div class="drop-down-wrapper">
                    <div class="new-folder-wrapper">
                        <button class="new-file-button"> + New</button>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <form method="post" class="folder-name-input hide">
                        <input type="text" name="folder_name" id="folder_name" placeholder="NewFolder">
                        <button type="submit" class="create-folder-button"> create</button>
                    </form>
                </div>


                <div class="side-bar-item">
                    <i class="fa-regular fa-hard-drive"></i>
                    <p>My Drive</p>
                </div>

                <div class="side-bar-item">
                    <i class="fa-regular fa-share-from-square"></i>
                    <p>Shared</p>
                </div>

                <div class="side-bar-item">
                    <i class="fa-regular fa-trash-can"></i>
                    <p>Trash</p>
                </div>

            </div>

            <div data-content="" class="main-content">
                <div class="path-info-container">
                    <p class="path">My Drive ></p>
                    <div data-id="<%= parent %>" class="go-back">
                        <i class="fa-solid fa-chevron-left"></i>
                    </div>
                </div>

                <div class="folders-section-container">
                    <p class="section-title">Folders</p>
                    <div class="folders-container">

                        <% content.forEach(element=> { %>
                            <div data-id='<%=element.id%>' class="folder-container">
                                <i class="fa-solid fa-folder"></i>
                                <p class="folder-name">
                                    <%= element.name %>
                                </p>
                            </div>
                            <% }) %>
                    </div>
                </div>

                <div class="files-section-container">
                    <p class="section-title">Files</p>
                    <div class="files-container">


                        <!-- <div class="file-container">
                            <i class="fa-regular fa-file-pdf"></i>
                            <p class="folder-name">Meeting Notes.pdf</p>
                            <p class="file-size"> 2.4M</p>
                        </div>

                        <div class="file-container">
                            <i class="fa-solid fa-photo-film"></i>
                            <p class="folder-name">Final Logo</p>
                            <p class="file-size"> 3.4M</p>
                        </div>
                        <div class="file-container">
                            <i class="fa-regular fa-file-lines"></i>
                            <p class="folder-name">Final Logo</p>
                            <p class="file-size"> 3.4M</p>
                        </div>-->

                    </div>
                </div>

            </div>

            <form enctype="multipart/form-data" id="file-form">
                <label class="upload-area" for="file">
                    <div class="upload-wrapper">
                        <i class="fa-solid fa-arrow-up-from-bracket"></i>
                        <p>Choose Files to uplad or Drag & drop here </p>
                        <p class="file-name"></p>
                        <input class="file" type="file" name="file" id="file">
                        <progress class="progress-bar hide" max="100" value="0"></progress>
                </label>
            </form>
    </div>

    </section>



    </div>






</body>

</html>