<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/css/shared.css">
    <title>Safe Cloud - Shared</title>
</head>

<body>

    <div class="page">
        <header class="header-wrapper">
            <div class="logo-wrapper">
                <div class="logo-icon">
                    <i class="fa-solid fa-cloud"></i>
                    <i class="fa-solid fa-shield-halved"></i>
                </div>
                <h1 class="logo-name">Safe<span>Cloud</span></h1>
            </div>

            <input class="search-bar" placeholder="Search your files..." type="text">

            <div class="user-container">
                <div class="user-icon">
                    <i class="fa-solid fa-user"></i>
                </div>
            </div>
        </header>

        <section class="main">

            <div class="side-bar">
                <a href="/home" class="side-bar-item">
                    <i class="fa-regular fa-hard-drive"></i>
                    <p>My Drive</p>
                </a>

                <a href="/home/shared" class="side-bar-item">
                    <i class="fa-regular fa-share-from-square"></i>
                    <p>Shared</p>
                </a>
            </div>

            <div class="main-content">
                <h1>Shared Files</h1>

                <div class="shared-files-container">

                    <% files.forEach(file=> { %>
                        <div class="shared-file-container">
                            <i class="fa-solid fa-file-arrow-up fa-file"></i>
                            <p>
                                <%= file.file.name %>
                            </p>

                            <button data-url="<%= file.url %>"
                                onclick="copy(this);showNotification('Link copied to clipboard')" class="safe-button">
                                <i class="fa-regular fa-copy"></i>
                                Copy Link
                            </button>

                            <div style="margin-top: 5px;">
                                <p style="font-size:0.8rem;">Valid until:</p>
                                <p style="font-weight:600; color:var(--primary-blue);">
                                    <%= file.expires_at %>
                                </p>
                            </div>
                        </div>
                        <% }) %>

                            <script defer>
                                function copy(b) { navigator.clipboard.writeText(b.dataset.url) }
                                function showNotification(message) {
                                    let notification = document.querySelector('.notification');
                                    notification.textContent = message;
                                    notification.classList.add('visable');
                                    setTimeout(() => {
                                        notification.classList.remove('visable');
                                    }, 3000)
                                }
                            </script>

                </div>
            </div>

        </section>

    </div>

    <div class="notification">
        Link copied to clipboard
    </div>

    <div class="mobile-nav">
        <a href="/home" class="side-bar-item">
            <i class="fa-regular fa-hard-drive"></i>
            <p>Drive</p>
        </a>

        <a href="/home/shared" class="side-bar-item">
            <i class="fa-regular fa-share-from-square"></i>
            <p>Shared</p>
        </a>

        <label class="mobile-upload" for="file">
            <i class="fa-solid fa-arrow-up-from-bracket" style="font-size:20px; color:var(--text-muted);"></i>
            <p style="font-size:0.8rem; margin:0;">Upload</p>
            <input class="file" type="file" name="file" id="file">
        </label>
    </div>
</body>

</html>