/*-----------------------------------------start of Header Styles-----------------*/
.page {
    padding-inline: 30px;
}

.header-wrapper {
    display: grid;
    grid-template-columns: 2fr 4fr 1fr;
    align-items: center;
    gap: 20px;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 80px;
}

.logo-name {
    white-space: nowrap;
}

.search-bar {
    height: 50px;
    padding-inline: 35px;
    border: 1px solid rgb(87, 86, 86);
    font-size: var(--med);
    border-radius: 12px;
}

.user-icon {
    margin-left: auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(189, 189, 189);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.fa-user {
    color: #777777;
    font-size: 35px;
    position: absolute;
    bottom: 0px;
    left: 6%;
}

/*-----------------------------------------End of Header Styles-----------------*/


.main {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 35px;
}

/*-----------------------------------------Start of left side bar styles-----------------*/

.side-bar {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.new-folder-wrapper {
    border: 1px solid var(--main-blue);
    align-items: center;
    display: flex;
    cursor: pointer;
    position: relative;
}

.new-file-button {
    color: #60aaff;
    font-size: var(--xxl);
    padding-block: 5px;
    cursor: pointer;
    width: 85%;
}

.fa-angle-down {
    font-size: 40px;
    color: var(--main-blue);
    border-left: 1px solid var(--main-blue);
}

#folder_name {
    font-size: var(--xl);
}

.create-folder-button {
    font-size: var(--med);
    padding: 5px;
}

.folder-name-input {
    background-color: var(--main-blue);
    padding-block: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.side-bar-item {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.side-bar-item:hover {
    background-color: #dfdfdf;
}

.side-bar-item i {
    font-size: 50px;
    color: #6eb2ff;
}

.side-bar-item p {
    font-size: var(--xl);
}



/*-----------------------------------------End of left side bar styles-----------------*/




/*-----------------------------------------Start of Files Explorer styles-----------------*/

.path-info-container {
    display: flex;
    justify-content: space-between;
}

.go-back {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--main-blue);
    display: grid;
    place-items: center;
    cursor: pointer;
}

.go-back:hover {
    transform: scale(1.01);
}

.fa-chevron-left {
    color: white;
}

.folders-section-container {
    padding: 15px;
}

.folders-container {
    display: flex;
    gap: 20px;
}

.section-title {
    font-size: 1.4rem;
}

.fa-folder {
    color: var(--main-blue);
    font-size: 100px;
    align-self: center;
}

.folder-container:hover {
    transform: scale(1.01);
}

.folder-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    pad: 5px;
    width: 12ch;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}


.file-container i {
    font-size: 40px;
}

.file-container {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 5px;
    cursor: pointer;
    margin-bottom: 8px;
}

.file-container:hover {
    background-color: #dfdfdf;
}

.fa-file-pdf {
    color: rgb(253, 69, 36);

}

.file-size {
    color: #636363;
}

.fa-photo-film {
    color: #60aaff;
}

.fa-file-lines {
    color: rgb(60, 165, 78);
}

.fa-arrow-up-from-bracket {
    font-size: 70px;
    color: #444444;
    margin-bottom: 20px;
}

/*-----------------------------------------End of file explorer styles-----------------*/



/*-----------------------------------------start of upload area styles-----------------*/
/*.upload-area p {
    color: upload-area;
}
*/
.upload-wrapper {
    text-align: center;
}

.upload-area {
    cursor: pointer;
    display: grid;
    place-content: center;
    border: 1px dashed black;
    height: 500px;
}

.file {
    position: fixed;
    inset: 0;
    pointer-events: none;
    opacity: 0;
}

.image-preview {
    max-height: 245px;
    width: 100%;
    object-fit: scale-down;
}

.image-preview-container {
    border: 1px solid var(--main-blue);
    display: grid;
    place-items: center;
    width: 100%;
    height: 280px;
}

.hide {
    display: none;
}

.video-preview {
    width: 80%;
    max-height: 250px;
    object-fit: scale-down;
}

.download-media {
    background-color: var(--main-blue);
    padding: 5px;
    color: whitesmoke;
}