/*-----------------------------------------start of Header Styles-----------------*/
.page {
    padding-inline: 30px;
}

.header-wrapper {
    display: grid;
    grid-template-columns: 2fr 4fr 1fr;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid rgb(192, 192, 192);
}

.logo-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 80px;
}

.logo-name {
    white-space: nowrap;
}

.search-bar {
    height: 50px;
    padding-inline: 35px;
    border: 1px solid rgb(87, 86, 86);
    font-size: var(--med);
    border-radius: 12px;
}

.user-icon {
    margin-left: auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(189, 189, 189);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.fa-user {
    color: #777777;
    font-size: 35px;
    position: absolute;
    bottom: 0px;
    left: 6%;
}

/*-----------------------------------------End of Header Styles-----------------*/


.main {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 35px;
}

/*-----------------------------------------Start of left side bar styles-----------------*/

.side-bar {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-right: 5px;
    border-right: 1px solid rgb(192, 192, 192);
}

.new-folder-dropdown {
    border: 1px solid var(--main-blue);
    align-items: center;
    display: flex;
    cursor: pointer;
    position: relative;
}

.new-folder-dropdown-button {
    color: #60aaff;
    font-size: var(--xl);
    padding-block: 5px;
    cursor: pointer;
    width: 85%;
}

.fa-angle-down {
    font-size: 40px;
    color: var(--main-blue);
    border-left: 1px solid var(--main-blue);
}

#name {
    width: 95%;
    display: block;
    font-size: var(--l);
    border-radius: 5px;
    padding-left: 10px;
    padding: 5px;
    border: 1px solid var(--main-blue);
}

.post-new-folder-button {
    font-size: var(--med);
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--main-blue);
    cursor: pointer;

}

.new-folder-form {
    /* background-color: var(--main-blue); */
    border: 1px solid var(--main-blue);
    padding-block: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.side-bar-item {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.side-bar-item:hover {
    background-color: #dfdfdf;
}

.side-bar-item i {
    font-size: 50px;
    color: #6eb2ff;
}

.side-bar-item p {
    font-size: var(--xl);
}
.fa-trash-can{
    font-size: 15px;
    color: white;
}

/*-----------------------------------------End of left side bar styles-----------------*/




/*-----------------------------------------Start of Files Explorer styles-----------------*/

.path-info-container {
    display: flex;
    justify-content: space-between;
}

.go-back {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--main-blue);
    display: grid;
    place-items: center;
    cursor: pointer;
}

.go-back:hover {
    transform: scale(1.01);
}

.fa-chevron-left {
    color: white;
}

.folders-section-container {
    padding: 15px;
}

.folders-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.files-container
{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.section-title {
    font-size: 1.4rem;
}

.fa-folder {
    color: var(--main-blue);
    font-size: 100px;
    align-self: center;
}

.folder-container:hover {
    transform: scale(1.01);
}

.folder-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    pad: 5px;
    width: 12ch;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    position: relative;
}

.file-container {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 5px;
    cursor: pointer;
    margin-bottom: 8px;
    position: relative;
}

.file-container:hover {
    background-color: #dfdfdf;
}

.fa-file-pdf {
    font-size: 40px;
    color: rgb(253, 69, 36);

}

.file-size {
    color: #636363;
}

.fa-photo-film {
    font-size: 40px;
    color: #60aaff;
}

.fa-file-lines {
    font-size: 40px;
    color: rgb(60, 165, 78);
}

.fa-arrow-up-from-bracket {
    font-size: 70px;
    color: #444444;
    margin-bottom: 20px;
}

.delete-button{
    color: tomato;
    position: absolute;
}
.delete-button:hover
{
    transform: scale(1.2);
}

.folder-container .delete-button
{
    right: 0;
}

.file-container .delete-button
{
    right: -25px;
}


/*-----------------------------------------End of file explorer styles-----------------*/



/*-----------------------------------------start of upload area styles-----------------*/

#file-form{
    align-self: center;
    width: 100%;
}

.upload-area {
    cursor: pointer;
    width: 98%;
    height: 200px;
    display: grid;
    place-content: center;
    border: 1px dashed black;
    text-align: center;
}

.file {
    position: fixed;
    inset: 0;
    pointer-events: none;
    opacity: 0;
}

.image-preview {
    max-height: 245px;
    width: 100%;
    object-fit: scale-down;
}

.image-preview-container {
    border: 1px solid var(--main-blue);
    display: grid;
    place-items: center;
    width: 100%;
    height: 280px;
}

.hide {
    display: none;
}

.video-preview {
    width: 80%;
    max-height: 250px;
    object-fit: scale-down;
}

.safe-button
{
    background-color: var(--main-blue);
    padding: 10px;
    color: whitesmoke;
    cursor: pointer;
}
.download-media {
    margin-top: 20px;
}
.right-side-bar{
    text-align: center;
    border-left: 1px solid rgb(192, 192, 192);
    padding-left: 5px;
}


#duration{
    border: 1px solid var(--main-blue);
    height: 50px;
    width: 80px;
    font-size: var(--xxl);
}


.share-file-form{
    margin-top: 20px;
    border: 1px solid var(--main-blue);
    padding: 5px;
}


.notification{
    padding: 5px;
    background-color: #6eb2ff;
    color: white;
    position: fixed;
    bottom: 200px;
    right: 50px;
    transition: transform 0.5s ease-in-out;
    transform: translateX(100%);
    opacity: 0;
}

.visable
{
    transform: none;
    opacity: 1;
}

.options
{
    position: absolute;
    background-color: #60aaff;
    right: 0;
    padding: 10px;

}
.user-container
{
    position: relative;
}