/*-----------------------------------------start of Header Styles-----------------*/
.page {
    padding-inline: 30px;
    position: relative;
    overflow-y: auto;
    background-color: rgb(218, 235, 240);
    overflow: hidden;
    height: 100%;
    max-width: 100%;
    padding-bottom: 50px;
}

body {
    max-height: 100dvh;
    height: 100dvh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}

.header-wrapper {
    display: grid;
    grid-template-columns: 2fr 4fr 1fr;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid rgb(192, 192, 192);
}

.logo-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 80px;
}

.logo-name {
    white-space: nowrap;
}

.search-bar {
    height: 50px;
    padding-inline: 35px;
    border: 1px solid rgb(87, 86, 86);
    font-size: var(--med);
    border-radius: 12px;
}

.user-icon {
    margin-left: auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(189, 189, 189);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.fa-user {
    color: #777777;
    font-size: 35px;
    position: absolute;
    bottom: 0px;
    left: 6%;
}

/*-----------------------------------------End of Header Styles-----------------*/


.main {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 35px;
    /* max-height: 100dvh; */
    /* height: 100dvh; */
    height: 100%;
    max-height: 100%;
    overflow-y: hidden;
}

/*-----------------------------------------Start of left side bar styles-----------------*/

.side-bar {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-right: 5px;
    border-right: 1px solid rgb(192, 192, 192);
}

.new-folder-dropdown {
    border: 1px solid var(--main-blue);
    align-items: center;
    display: flex;
    cursor: pointer;
    position: relative;
}

.new-folder-dropdown-button {
    color: #60aaff;
    font-size: var(--xl);
    padding-block: 5px;
    cursor: pointer;
    width: 85%;
}

.fa-angle-down {
    font-size: 40px;
    color: var(--main-blue);
    border-left: 1px solid var(--main-blue);
}

#name {
    width: 95%;
    display: block;
    font-size: var(--l);
    border-radius: 5px;
    padding-left: 10px;
    padding: 5px;
    border: 1px solid var(--main-blue);
}

.post-new-folder-button {
    font-size: var(--med);
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--main-blue);
    cursor: pointer;

}

.new-folder-form {
    /* background-color: var(--main-blue); */
    border: 1px solid var(--main-blue);
    padding-block: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.side-bar-item {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.side-bar-item:hover {
    background-color: #dfdfdf;
}

.side-bar-item i {
    font-size: 50px;
    color: #6eb2ff;
}

.side-bar-item p {
    font-size: var(--xl);
}

.fa-trash-can {
    font-size: 15px;
    color: white;
}

/*-----------------------------------------End of left side bar styles-----------------*/

/*-----------------------------------------Start of Files Explorer styles-----------------*/

.main-content {
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: rgb(60, 206, 231) rgb(162, 222, 230);
    padding-bottom: 100px;
}

.path-info-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.go-back {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--main-blue);
    display: grid;
    place-items: center;
    cursor: pointer;
}

.go-back:hover {
    transform: scale(1.01);
}

.fa-chevron-left {
    color: white;
}

.folders-section-container {
    padding: 15px;
}

.folders-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.files-container {
    display: grid;
    row-gap: 10px;
    flex-wrap: wrap;
}

.section-title {
    font-size: 1.4rem;
}

.fa-folder {
    color: var(--main-blue);
    font-size: 100px;
    align-self: center;
}

.folder-container:hover {
    transform: scale(1.01);
}

.folder-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    pad: 5px;
    width: 12ch;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    position: relative;
}

.file-container {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 5px;
    cursor: pointer;
    margin-bottom: 8px;
    position: relative;
    justify-self: flex-start;
}

.file-container:hover {
    background-color: #dfdfdf;
}

.fa-file-pdf {
    font-size: 40px;
    color: rgb(253, 69, 36);

}

.fa-photo-film {
    font-size: 40px;
    color: #60aaff;
}

.fa-file-lines {
    font-size: 40px;
    color: rgb(60, 165, 78);
}

.file-size {
    color: #636363;
}



.fa-arrow-up-from-bracket {
    font-size: 70px;
    color: #444444;
    margin-bottom: 20px;
}

.delete-button {
    color: tomato;
    position: absolute;
}

.delete-button:hover {
    transform: scale(1.2);
}

.folder-container .delete-button {
    right: 0;
}

.file-container .delete-button {
    right: -25px;
}


/*-----------------------------------------End of file explorer styles-----------------*/



/*-----------------------------------------start of upload area styles-----------------*/

#file-form {
    align-self: center;
    width: 100%;
}

.upload-area {
    cursor: pointer;
    width: 98%;
    height: 200px;
    display: grid;
    place-content: center;
    border: 1px dashed black;
    text-align: center;
}

.file {
    position: fixed;
    inset: 0;
    pointer-events: none;
    opacity: 0;
}

.image-preview {
    max-height: 245px;
    width: 100%;
    object-fit: scale-down;
}

.image-preview-container {
    border: 1px solid var(--main-blue);
    display: grid;
    place-items: center;
    width: 100%;
    height: 280px;
}

.hide {
    display: none;
}

.video-preview {
    width: 80%;
    max-height: 250px;
    object-fit: scale-down;
}

.safe-button {
    background-color: var(--main-blue);
    padding: 10px;
    color: whitesmoke;
    cursor: pointer;
}

.download-media {
    margin-top: 20px;
}

.right-side-bar {
    text-align: center;
    border-left: 1px solid rgb(192, 192, 192);
    padding-left: 5px;
}


#duration {
    border: 1px solid var(--main-blue);
    height: 50px;
    width: 80px;
    font-size: var(--xxl);
}


.share-file-form {
    margin-top: 20px;
    border: 1px solid var(--main-blue);
    padding: 5px;
}


.notification {
    padding: 5px;
    background-color: #6eb2ff;
    color: white;
    position: fixed;
    bottom: 200px;
    right: 50px;
    transition: transform 0.5s ease-in-out;
    transform: translateX(100%);
    opacity: 0;
}

.visable {
    transform: none;
    opacity: 1;
}

.options {
    position: absolute;
    background-color: #60aaff;
    right: 0;
    padding: 10px;

}

.user-container {
    position: relative;
}

/*--------------------------------------------* start of mobile styles*/

.mobile-nav {
    height: 50px;
    margin-top: auto;
    border-top: 2px solid #60aaff;
    box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.183);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    display: none;
}

.mobile-nav i {
    font-size: 30px;
    margin: 0;
    padding: 0;
}


.mobile-nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobile-nav p {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

.mobile-nav i {
    color: #60aaff;
}

.mobile-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-folder-mobile {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    background-color: #4444448a;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    display: none;

}

.new-folder-form-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.create-folder-mobile .post-new-folder-button {
    align-self: center;
    font-size: 1.5rem;
    padding: 15px 20px;

}

.create-folder-mobile #name {
    font-size: 1.5rem;

}

.add-folder-mobile-toggle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--main-blue);
    display: grid;
    place-items: center;
    cursor: pointer;
    display: none;
}

.fa-plus {
    color: white;
}

.buttons-wrapper {
    display: flex;
    gap: 5px;
    justify-content: center;
}

.close-new-folder-page-button {
    font-size: var(--med);
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--main-blue);
    cursor: pointer;
}

.close-preview-mobile {
    display: none;
}

@media screen and (width < 900px) {

    .close-preview-mobile {
        display: inline-block;
    }

    .folders-container {
        display: flex;
        gap: 5px;
        flex-wrap: wrap;
    }

    .add-folder-mobile-toggle {
        display: grid;
    }

    .mobile-nav {
        display: flex;
    }

    .page {
        padding-inline: 5px;
    }

    .side-bar-item {
        gap: 0;
    }

    .logo {
        width: 50px;
    }

    .search-bar {
        width: 30vw;
        padding-inline: 8px;
        display: none;
    }

    .logo-name {
        font-size: 1.2rem;
    }

    .header-wrapper {
        display: flex;
        justify-content: space-between;
    }

    .side-bar {
        display: none;
    }

    .right-side-bar {
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: #dbd5d5ab;
        display: none;
    }

    .main {
        display: flex;

    }

    .file-container p {
        font-size: 1rem;
    }

    .file-container {

        display: flex;
        align-items: center;
        gap: 8px;
        padding: 5px;
        cursor: pointer;
        margin-bottom: 8px;
        position: relative;
        flex-wrap: wrap;
    }

    .fa-folder {
        font-size: 60px;
    }

    .files-container {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }

    .section-title {
        font-size: 1.2rem;
    }

    .fa-file-pdf {
        font-size: 30px;
        color: rgb(253, 69, 36);

    }

    .fa-photo-film {
        font-size: 30px;
        color: #60aaff;
    }

    .fa-file-lines {
        font-size: 30px;
        color: rgb(60, 165, 78);
    }

    .folders-section-container {
        padding: 0px;
        margin-bottom: 20px;
    }


    /* .path-info-container {} */

}