.main-content {
    border: 1px dashed black;
    padding: 16px;
    width: min-content;
    position: absolute;
    top: 10%;
}

.page {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
}

.logo {
    width: 100px;
    display: block;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    gap: 30px;
}

.logo-name {
    font-size: 4rem;
    color: #2f3031;
}

label {
    display: block;
}

.hook {
    font-size: 1.3rem;
    color: #303131;
}

.logo-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
}

label {
    font-size: var(--xl);
    margin-bottom: 5px;
}

input {
    width: 380px;
    font-size: var(--m);
    padding: 8px;
    border: 1px solid #999999;
    border-radius: 10px;
}

input:focus {
    outline: none;
    border: 1px solid rgb(70, 69, 69);
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

button {
    margin-top: 20px;
    font-size: var(--xl);
    padding: 5px;
    cursor: pointer;
    background-color: #96C5FB;
    color: #2f3031;
    border: none;
    font-weight: bold;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: rgb(35, 80, 139);
}

.signin {
    display: block;
    margin: auto;
    width: max-content;
    margin-top: 20px;
}