/*-----------------------------------------start of Header Styles-----------------*/
.page {
    padding-inline: 30px;
}

.header-wrapper {
    display: grid;
    grid-template-columns: 2fr 4fr 1fr;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid rgb(192, 192, 192);
}

.logo-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 80px;
}

.logo-name {
    white-space: nowrap;
}

.search-bar {
    height: 50px;
    padding-inline: 35px;
    border: 1px solid rgb(87, 86, 86);
    font-size: var(--med);
    border-radius: 12px;
}

.user-icon {
    margin-left: auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(189, 189, 189);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.fa-user {
    color: #777777;
    font-size: 35px;
    position: absolute;
    bottom: 0px;
    left: 6%;
}

/*-----------------------------------------End of Header Styles-----------------*/


.main {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 35px;
}

/*-----------------------------------------Start of left side bar styles-----------------*/

.side-bar {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-right: 5px;
    border-right: 1px solid rgb(192, 192, 192);
}

.side-bar-item {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.side-bar-item:hover {
    background-color: #dfdfdf;
}

.side-bar-item i {
    font-size: 50px;
    color: #6eb2ff;
}

.side-bar-item p {
    font-size: var(--xl);
}




.hide {
    display: none;
}


.safe-button
{
    background-color: var(--main-blue);
    padding: 10px;
    color: whitesmoke;
    cursor: pointer;
}

.notification{
    padding: 5px;
    background-color: #6eb2ff;
    color: white;
    position: fixed;
    bottom: 200px;
    right: 50px;
    transition: transform 0.5s ease-in-out;
    transform: translateX(100%);
    opacity: 0;
}

.visable
{
    transform: none;
    opacity: 1;
}

.fa-file{
    font-size: 50px;
}
.fa-share-from-square
{
    color: white;
}
.shared-files-container{
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
}
.shared-file-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--main-blue);
    gap: 5px;
    padding: 5px;
}